body {
	font-family: 'Roboto', sans-serif;
}

.site-container {
	margin-top: 20px;
}


.navbar-brand{
	font-family: "Unica One";
	font-size: 32px;
	font-style: bold;
} 
 

.btn {
	margin-top: 20px;
	
}

.invisible-btn, .invisible-btn:hover, .invisible-btn:selected {
	background-color: transparent;
	border-color: transparent;
	height: 80px;
	width: 80px;
}

#color-submit-panel {
	margin-top: 20px;
}

#own-data-display-panel, #color-submit-panel{
	display:none;
}

.pixel-row, .coordinate-row {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.coordinate-column {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.pixel-y-coordinate, .pixel-x-coordinate{
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
.pixel:focus {
    outline: none;
}

.pixel, .pixel-y-coordinate, .pixel-x-coordinate {
	height: 80px;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
}

.pixel-selected {
	border-width:  4px;

}

.pixel-hover {
	border-width:  4px;
}

.pixel-disabled {

}

.pixel-grid {
	padding-right: 120px;
}

.settings-panel {

}
